.card-project{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--cor1);
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px #FFF;
}