.main-title{
    color: var(--cor1);
    font-family: var(--font1);
    font-size: 40px;
    font-weight: 400;
    text-shadow: 4px 4px 0px #000;
}
  
.main-title.-second{
    color: #FFF;
    text-shadow: none;
    text-align: center;
    width: 100%;
}

