h2{
    color: var(--cor1);
    font-family: var(--font1);
    font-size: 40px;
    font-weight: 400;
    text-shadow: 4px 4px 0px #000;
}

h3{
    color: #FFF;
    font-family: var(--font1);
    font-size: 30px;
    font-weight: 400;
    text-shadow: 4px 4px 0px #000;
}